<span class="comment">
	<%= link_to comment.user.name + ': ', comment.user %>
	<%= comment.content %>
</span>

<span class="timestamp">
    Commented <%= time_ago_in_words(comment.created_at) %> ago.
    <% if current_user == comment.user %>
      <%= link_to "delete", [comment.micropost, comment], method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
</span>

<hr style="height:1px; width:100%; border:none;color:#333;background-color:#333;" />
