<%= link_to avatar_for(current_user), current_user %>
<p>
	<strong>Name:</strong>
	<%= current_user.name %>
</p>		
<p>
	<strong>Email:</strong>
	<%= current_user.email %>
</p>
<p>
	<%= link_to "view my profile", current_user %>
</p>